* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  background-color: antiquewhite;
  min-height: 100vh;
}

input:valid {
  outline: 1px solid green;
}

input:invalid {
  outline: 1px solid red;
}
